* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.header-main {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px 45px 228px;
}
.body-main {
  max-width: 1920px;
  margin: 0 auto;
}
.description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 20px;
}
.common-btn {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  border: 0;
  border-radius: 8px;
  background: #ff900e;
  padding: 21px 24px 20px 25px;
  cursor: pointer;
  margin-top: 32px;
}
.title {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
}
/* navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  display: flex;
  gap: 30px;
}
.nav-list {
  list-style-type: none;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
}
.link {
  text-decoration: none;
  color: #424242;
}
/* bannar section */
.banner-content {
  max-width: 862px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 102px;
}
.bannar-img {
  margin-top: 50px;
  width: 100%;
}
/* features section */
.features {
  display: flex;
  gap: 76px;
  padding: 85px 291px 130px 301px;
  align-items: center;
  justify-content: center;
}
.features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.features-heading {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
}
.feature {
  color: #ff900e;
}
.qc-list {
  color: #727272;
  font-weight: 500;
}
/* fact section */
.facts {
  padding: 0 239px 180px 239px;
}
.description-margin {
  margin-top: 24px;
}
.facts-card-container {
  display: flex;
  justify-content: center;
  gap: 124px;
  margin-top: 100px;
}
.fact-cards {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 45px 36px 59px 35px;
}
.card-title {
  color: #424242;
  font-size: 2.8125rem;
  font-weight: 600;
  margin-top: 10px;
}
.card-description {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5;
}
/* sponspors section */
.sponspors {
  text-align: center;
}
.sponspors-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 155px;
  margin-top: 50px;
  margin-bottom: 130px;
}
/* footer section */
.footer-content {
  border-radius: 8px;
  background: #fff4e7;
  text-align: center;
  padding: 39px 410px;
  margin: 0 240px 216px 240px;
}
/* enjoy section */
.enjoy {
  padding: 0 239px;
  display: flex;
  gap: 146px;
}
.enjoy-content {
  padding-top: 39px;
}
.enjoy-container {
  margin-top: 10px;
  padding: 30px 0 30px 30px;
}
.enjoy-container1 {
  margin-top: 40px;
}
.enjoy-para {
  margin-top: 10px;
}
.enjoy-title {
  color: #131313;
  font-size: 1.25rem;
  font-weight: 600;
}
.border {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}
.image-pop {
  position: relative;
  border-radius: 8px;
  background: #ff900e;
  display: inline-block;
  padding: 46px 42px;
  top: -11%;
  right: 12%;
}
.year {
  color: #fff;
  text-align: center;
  font-size: 4.0625rem;
  font-weight: 700;
  line-height: 4.375rem;
}
.experince {
  color: #fff;
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 500;
  line-height: 2.5rem;
}
.enjoy-img {
  width: 100%;
}
/* Responsive */
/* Mobile Device */
@media screen and (max-width: 567px) {
  .header-main {
    padding: 20px;
  }
  .navbar {
    flex-direction: column;
  }
  .banner-title {
    margin-top: 20px;
  }
  .nav-link {
    margin-top: 20px;
  }
  .features {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .features-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .facts {
    padding: 20px;
  }
  .facts-card-container {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }
  .sponspors-logo {
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }
  .footer-content {
    border-radius: 8px;
    background: #fff4e7;
    text-align: center;
    padding: 0;
    margin: 10px 0;
  }
  .enjoy {
    padding: 0 10px;
    flex-direction: column;
  }
  .image-pop {
    position: static;
    padding: 8px;
    display: block;
    margin-top: 20px;
  }
}
/* Medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .header-main {
    padding: 50px;
  }
  .navbar {
    flex-direction: column;
  }
  .banner-title {
    margin-top: 20px;
  }
  .nav-link {
    margin-top: 20px;
  }
  .features {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  .features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .facts {
    padding: 20px;
  }
  .facts-card-container {
    flex-wrap: wrap;
  }
  .sponspors-logo {
    flex-wrap: wrap;
  }
  .footer-content {
    border-radius: 8px;
    background: #fff4e7;
    text-align: center;
    padding: 39px 200px;
    margin: 30px 0;
  }
  .enjoy {
    padding: 0 20px;
  }
  .image-pop {
    top: 0;
    right: 0;
  }
  .enjoy-img {
    padding-top: 250px;
  }
}
